@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css";

/* #111f33 - фон */
/* #d90429 - акцент*/
/* #f1faee - основной тескст */


*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-family: 'Noto Sans JP', sans-serif;
  color: #f1faee;
}

body{
  height: 100vh;
  min-width: 320px;
  background: #111f33;
}


/* SEARCH section */
.search{
  margin-bottom: 2%;
  animation: fade 1.5s;
}


.search, .output{
  position: relative;
}

.search h1{
  position: relative;
  margin-bottom: 1.5%;
}

.form{
  display: flex;
  flex-direction: column;
}

.input__container{
  position: relative;
}

.input__container .form__input{
  background: none;
  border: none;
  border-bottom: 1px solid #bfbebe;
  outline: none;
  font-weight: 300;
  max-width: 480px;
  width: 100%;
  padding-left: 2%;
  -webkit-appearance: none;
  -moz-appearance: none;
}

::-webkit-input-placeholder{
  font-weight: 300;
  color: rgba(241, 250, 237, 0.8);
}

.input__container .dropdown{
  position: absolute;
  z-index: 2;
  width: 100%;
  max-width: 480px;
  background: #0c1625;
  box-shadow: 1.5px 1.5px 5px #0b1522;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-height: 250px;
  overflow-y: scroll;
}

.dropdown::-webkit-scrollbar{
  background: none;
  width: 10px;
}

.dropdown::-webkit-scrollbar-thumb{
  height: 50px;
  background: rgba(241, 250, 237, .3);

}

.dropdown .dropdown__item{
  color: black;
  line-height: 3em;;
  width: 100%;
  list-style: none;
  padding-left: 2%;
  color: #f1faee;
  cursor: pointer;
  transition: background-color .2s;
  border-bottom: 1px solid rgba(0,0,0,.05);
  border-top: 1px solid rgba(225,225,225,.05);
  animation: fade .9s;
}

.dropdown .dropdown__item .dropdown__item-active{
  background: #264985;
}

.dropdown .dropdown__item:hover{
  background: #264985;
}


.form__button{
  letter-spacing: 0.1em;
  padding: 1.5% 3%;
  min-height: 50px;
  min-width: 100px;
  background: #d90429;
  border-radius: 6px;
  border-width: 1px;
  border-color: #1d3557;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/*OUTPUT section*/
.card{
  position: relative;
  max-height: 370px;
  animation: fade 1.5s;
}

.card__main{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 15%;
  background: #fff;
  color: rgb(17, 17, 17);
  border-radius: 20px;
}

.card__back{
  position: absolute;
  left: 3%;
  right: 3%;
  top: 8px;
  height: 100%;
  background: #555050;
  border-radius: 20px;
}

.card__header{
  color: #264985;
  font-size: 1.4em;
  font-weight: bold;
}

.card__header sup{
  margin-left: 2%;
  font-size: .5em;
  color: #fff;
  background: #ff4500;
  padding: 1.5% 4%;
  border-radius: 10px;
}

.card__time{
  color: #b0afac;
  font-size: .8em;
}

.card__temp div{
  display: inline;
  color: #111f33;
  font-weight: bold;
  margin-right: 3px;
}

.card__temp div sup, .card__temp i{
  color: #111f33;
}


.card__temp div sup{
  font-size: .5em;
}

.card__temp p{
  color: #b0afac;
}

.card__descr{
  color: #264985;
  text-transform: uppercase;
}

.error{
  display: flex;
  font-weight: 300;
  font-size: 1.1em;
  align-items: center;
  color: #9f9f9f;
  animation: fade 1.3s
}

.error img{
  display: block;
  margin-right: 2px;
  height: 100px;
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

/* MEDIA */
@media only screen and (min-width: 992px){
  body{padding: 2% 10%}
  .search h1 {  font-size: 4.6em}
  .form {flex-direction: row; align-items: flex-end;justify-content: flex-start}
  .input__container{margin-right: 2%; width: 45%}
  .form__input {font-size: 1.2em}
  .card {height: 380px; min-width: 260px; max-width: 300px;}
  .card__temp div {font-size: 5em}
  .card__temp i {font-size: 3em}
}

@media only screen and (min-width: 768px) and (max-width: 992px){
  body{padding: 3% 10%}
  .search h1 {font-size: 4.375em}
  .form {flex-direction: row; align-items: flex-end; justify-content: flex-start}
  .input__container{margin-right: 4%; width: 60%}
  .form__input {font-size: 1.2em}
  .card {height: 380px; min-width: 260px; max-width: 300px;}
  .card__temp div {font-size: 5em}
  .card__temp i {font-size: 3em}
}

@media only screen and (min-width: 501px) and (max-width: 768px){
  body{padding: 10% 15%}
  .search h1 {font-size: 3.75em; margin-bottom: 10%}
  .form {align-items: flex-start}
  .input__container{margin-bottom: 4%; width: 80%; max-width: 300px}
  .form__input {font-size: 1.125em;}
  .card {height: 50vh; width: 80%; max-width: 300px;}
  .card__temp div {font-size: 4em}
  .card__temp i {font-size: 2.5em}
  .error {font-size: .85em;}
  .error img {height: 75px}
}

@media only screen and (max-width: 500px) {
  body{padding: 10% 15%}
  .search {margin-bottom: 4%}
  .search h1 {font-size: 2.5em; margin-bottom: 10%;}
  .form {align-items: flex-start}
  .input__container{margin-bottom: 5%; width: 100%}
  .form__input {font-size: 1.125em;}
  .card {height: 50vh; width: 100%;}
  .card__temp div {font-size: 4em}
  .card__temp i {font-size: 2.5em}
  .error {font-size: .85em;}
  .error img {height: 75px}
}
